@model Blog_Web.Models.classes.SiberText
@{
    ViewBag.Title = "siberDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        @*<h1>@Model.Title</h1>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-150 mb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-article-section">
                        <div class="single-article-text">
                            <div class="single-artcile-bg">
                                <img src="@Url.Content(Model.Image)" />
                            </div>
                            <p class="blog-meta">
                                <span class="author"><i class="fas fa-user"></i> Admin</span>
                                <span class="date"><i class="fas fa-calendar"></i> @Model.TextDate.ToString("dd.MM.yyyy")</span>
                            </p>
                            <h2>@Model.Title</h2>
                            <p>@Html.Raw(Model.Description)</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar-section">
                        <div class="recent-posts">
                            <h4>Kaynaklar</h4>
                            <ul>
                                <li><a href="#">@Model.source1</a></li>
                                <li><a href="#">@Model.source2</a></li>
                                <li><a href="#">@Model.source3</a></li>
                                <li><a href="#">@Model.source4</a></li>
                                <li><a href="#">@Model.source5</a></li>
                            </ul>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end single article section -->


</body>


